@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Our Vision";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Established since 2015 by Mister Nguyen Quoc Phuong, our goal is to provide a single platform for buyers and sellers.</p>
